trojan=lsj.bwplus.top:3344, password=love, over-tls=true, tls-host=lsj.bwplus.top, tls-verification=true, fast-open=false, udp-relay=false, tag=洛杉矶
#
# Optional field tls13 is only for trojan over-tls=true
trojan=trojan.bwplus.top:3344, password=love, over-tls=true, tls-host=trojan.bwplus.top, tls-verification=true, fast-open=false, udp-relay=false, tag=香港
