trojan=lsj.bwplus.top:3344, password=love, obfs=wss, obfs-host=lsj.bwplus.top, obfs-uri=/, udp-relay=true, tag=洛杉矶
#
# Optional field tls13 is only for trojan over-tls=true
trojan=trojan.bwplus.top:3344, password=love, obfs=wss, obfs-host=trojan.bwplus.top, obfs-uri=/, udp-relay=true, tag=香港
